.lien_habiller {
	transform:rotate(20deg);display:inline-block;color:#0FF;font-family:'Times New Roman', Times, serif;
}
section .police1 {
	font-family:Comic Sans MS;	
}
section .police2 {
	font-family:Lucida Console
}
.property_name {
	color:#0F0;	
}